azure:
  api_key: None
  api_url: None
aws:
  api_id: None
  api_key: None
  api_region: None
google:
  service_account_info: Copy JSON from Google json file
clarifai:
  api_key: YOUR_CLARIFAI_API_KEY
minimal_confidence: 0.5
